.app { height: 100vh; }

.slide {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: $terrible-teal-color;
}

.session-title {
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.session-details {
  margin-bottom: 0;
  color: #103d79;
}
