.app { height: 100vh; }

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  color: $pink;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  > .container {
    width: 95%;
    height: 100%;
    padding: 2% 0;
    margin: 0 auto;
  }

  img.diagram {
    display: block;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
  }

  h1,
  h2 {
    text-shadow: 2px 1px rgba(26, 26, 26, 0.32);
  }

  h1.title {
    margin-top: 0;
    font-size: 4em;
  }

  h1 {
    font-size: 6em;

    &.top {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 999;
      margin-top: 0;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      font-size: 4em;
      text-align: center;
      background-color: #fff;
    }
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    line-height: 1;
    list-style: none;

    > li {
      font-weight: 700;
      color: rgb(53, 53, 53);
    }
  }
}

.code-slide {
  color: #fff;
  // background-color: #252a41;
  // background-color: #f7f7f7;
  background-color: #D9D9D9;
  // background-color: #0F1F68;

  ol > li { color: #fff; }
  > ul > li { color: #fff; }

  > .container {
    display: flex;

    .code {
      flex-grow: 2;
      width: 60%;

      font-size: 0.8em;
      line-height: 150%;

      > code {
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }

    .example {
      flex-grow: 1;
      width: 40%;
      padding-top: 6em;
      padding-left: 1em;
    }
  }
}

.cs-title-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: $terrible-teal-color;

  h1 { color: #111; }

  h1,
  h2 { text-shadow: none; }

  .session-title {
    margin-top: 0;
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 0.01em;

    // @media (min-width: $large) {
    //   margin-top: 1em;
    // }
  }

  .session-details {
    margin-top: 0;
    margin-bottom: 0;
    color: #103d79;
  }
}


.profile-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url("/app/images/profile3.jpg");

  .bio-details {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 6em;
    margin-right: 3em;
    color: #fff;
    text-align: right;

    a { color: #ff0061; }
    a:hover { text-decoration: underline; }

    h1 {
      margin-top: 0;
      font-size: 3em;
      font-weight: 400;

      > i { padding-right: 0.2em; }
    }

    h2 { margin-top: 0; }

    h1 > a,
    h2 > a { font-weight: 800; }

    @media (min-width: $large) {
      margin-right: 3em;

      h1 { font-size: 5em; }
      h2 { font-size: 3em; }
    }
  }
}

.c5-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
  background-image: url("/app/images/office.jpg");

  h1 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 0.4em;
    margin-bottom: 0.4em;
    font-family: "bebas-neue", "futura";
    font-size: 9em;
    color: $organge;
    text-shadow: 2px 2px #252525;

    @media (min-width: $large) {
      font-size: 14em;
    }
  }
}

.diffs {
  h1 { margin-top: 0; }
}

.swapper {
  ol {
    padding-left: 2em;
    font-size: 3em;
    font-weight: 600;
    line-height: 140%;
    color: #111;
  }
}

.dbmon {
  h1 {
    margin-top: 0;
    font-size: 4em;
    text-align: center;
  }

  .flex {
  }

  .mon {
    position: relative;
    display: inline-block;
    float: left;
    width: 33.3%;
    min-height: 100vh;

    .button {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: #ccc;
    }

    &.running button { background-color: $pink; }
  }


  .frame-container {
    height: 100%;

    > iframe {
      width: 100%;
      height: 100vh;
      margin-top: 3em;
      border: 0;
    }
  }
}

a.button { padding: 0.4em; }

.button,
 button {
  width: 150px;
  margin: auto;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: $pink;
  border: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 -6px 9px rgba(45, 45, 45, 0.07);
}


.todo-flux-slide {

  .example {
    flex: 1;
    display: flex;
    width: auto;
    flex-direction: row;

    > .tabs {
      position: relative;
      min-width: 60%;

      > .tab-list {
        font-size: 0.7em;
        position: absolute;
        bottom: 100%;

        > li {
          display: inline-block;

          &:not(:first-child) { margin-left: 0.3em; }

          > button {
            width: auto;
            min-width: 10px;
            background-color: transparent;
          }
        }
      }
    }

    > .tabs,
    > .todo-flux { flex: 1; }

    > .todo-flux { margin-left: 1em; }
  }
}

.store-view {
  > .store-items {
    font-family: 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 13px;

    > .store-item {
      font-weight: 400;
      color: #111;
    }
  }
}

.todo-flux {

  .todo-form {
    > .control { width: 70%; }
    > .btn {  width: 25%; }
  }

  > .progress {

    progress[value] {
      margin-top: 0.4em;
      width: 100%;
      height: 1.3em;
      background-color: #f3f3f3;
      border: 0;
      border-radius: 4px;
      -webkit-appearance: none;
      appearance: none;

      &::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }

      &::-webkit-progress-value {
        border-radius: 2px;
        background-color: $pink;
      }
    }
  }

  > .progress + .todos { margin-top: 1em; }

  ul.todos {
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }

  ul.todos > li { color: #111; }

  form > button {
    width: 125px;
    min-width: 125px;
  }

  input { border: 1px solid #aaa; }
  form > button {
    width: 25%;
    min-width: 25%;
    margin-left: 0.3em;
  }

  .todo {
    > button {
      width: auto;
      min-width: 20px;
      padding-right: 0;
      padding-left: 0;
      font-size: 1.2em;
      color: #b7b7b7;
      background-color: transparent;
      outline: none;
      box-shadow: none;

      &:hover { color: #656565; }
    }

    > .todo-text { margin-left: 0.3em; }

    &.completed {
      color: #555;
      text-decoration: line-through;

      button { color: #009d67; }
    }
  }
}
